@model FinalTask.Models.NewFolderModel

@{
    ViewBag.Title = "NewFolder";
}

<h2>Создание новой папки</h2>
<div class="container">
    @using (Html.BeginForm("NewFolder", "File", FormMethod.Post, new { enctype = "multi-part/formdata" }))
    {
        @Html.HiddenFor(pf => Model.ParentId)
        <div class="input-div">@Html.TextBoxFor(n => Model.Name)</div>
        <div class="valid-div">@Html.ValidationMessageFor(uf => Model.Name)</div>
        <input class="btn-lg btn-primary" type="submit" value="Создать" />
    }
</div>

