@{
    ViewBag.Title = "MegaFileStorage";
}

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <center>
            <h3>
                С возвращением, @User.Identity.Name.<br />
                Чтобы загрузить файлы, перейдите в ваше хранилище с помощью страницы профиля.
            </h3>
        </center>
    }
    else
    {
        <center>
            <h3>
                Добро пожаловать на MegaFileStorage.<br />
                Зарегистрируйтесь, чтобы сохранить свои файлы.
            </h3>
        </center>
    }
</div>