@{
    ViewBag.Title = "MegaFileStorage";
}

<div>
    <center>
        <h3>
            Добро пожаловать на MegaFileStorage. 
            Найдите нужные вам файлы с помощью поиска. 
            Зарегистрируйтесь, чтобы сохранить свои файлы.
        </h3>
    </center>
</div>